@page "/bindprop"
@using LearnBlazor.Models

<h3>BindProp</h3>

<button type="button" @onclick="() => product.IsActive = !product.IsActive">
    @if (!product.IsActive)
    {
        <span>
            Activate product
        </span>
    }
    else
    {
        <span>
            Deactivate product
        </span>
    }
</button>

@if (product.IsActive)
{
    <span>@product.Id</span>
    <span>@product.Name</span>
    <span>@product.IsActive</span>
    <span>@product.Price</span>
    <input @bind="product.Price" @bind:event="oninput" type="number"/>

    <select>
        @foreach (var prop in product.Properties)
        {
            <option value="@prop.Key">@prop.Value</option>
        }
    </select>
}

@code {

    Product product = new()
    {
        Id = 1,
        Name = "Test",
        IsActive = false,
        Price = 5.00,
        Properties = new List<ProductProperty>
        {
            new() { Id = 1, Key = "Color", Value = "Red" },
            new() { Id = 2, Key = "Size", Value = "20oz" },
            new() { Id = 3, Key = "Flavour", Value = "Rose" }
        }
    };

}