@page "/bindprop"

<div style="display: flex; flex-direction: column">
    <h3>BindProp</h3>

    <button type="button" @onclick="() => _product.IsActive = !_product.IsActive">
        @if (!_product.IsActive)
        {
            <span>
            Activate product
        </span>
        }
        else
        {
            <span>
            Deactivate product
        </span>
        }
    </button>

    @if (_product.IsActive)
    {
        <span>Id: @_product.Id</span>
        <span>Name: @_product.Name</span>
        <span>IsActive: @_product.IsActive</span>
        <span>Price: @_product.Price</span>
        <input @bind="_product.Price" @bind:event="oninput" type="number"/>

        <h4>Product properties</h4>
        <select @bind="_selectedProperty">
            @foreach (var prop in _product.Properties)
            {
                <option value="@prop.Key">@prop.Value</option>
            }
        </select>

        <span>Selected Prop: @_selectedProperty</span>
        @if (!string.IsNullOrEmpty(_selectedProperty))
        {
            <span>Selected Value: @_product.Properties.FirstOrDefault(p => p.Key == _selectedProperty).Value</span>
        }
    }
</div>

@code {

    private string _selectedProperty = "";

    Product _product = new()
    {
        Id = 1,
        Name = "Test",
        IsActive = false,
        Price = 5.00,
        Properties = new List<ProductProperty>
        {
            new() { Id = 1, Key = "Color", Value = "Red" },
            new() { Id = 2, Key = "Size", Value = "20oz" },
            new() { Id = 3, Key = "Flavour", Value = "Rose" }
        }
    };

}